@using Application.UseCases.Owners.Commands
@model CreateOwnerCommand
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h1>Create Owner</h1>

@using (Html.BeginForm("CreateOwner", "Owner", FormMethod.Post))
{
    <div>
        <label for="name">Name:</label>
        <input type="text" id="name" name="name" required>
    </div>

    <div>
        <label for="contactNumber">Contact Number:</label>
        <input type="text" id="contactNumber" name="contactNumber" required>
    </div>

    <button type="submit">Create</button>
}

